{% extends 'Base.html.twig' %}
{% block contents %}
    <div class="row">
        <div class="col-1">
            <div class="group-content">
                <h1 class="center">Add a child</h1>
                <p class="lead">Below is a form to add your children to the Queensland Government Sports Application.</p>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            {% block csrf_token_widget %}
                {{ form(form) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}